*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: width 0.2s ease-in-out;
}

:root {
    --prim-darkblue-bg: rgb(50, 34, 88);
    --prim-blue-bg: rgb(107, 78, 185);
    --prim-lightblue: rgb(168, 142, 238);
}

html {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    height: 100vh;
    background-color: var(--prim-darkblue-bg);
}

h1 {
    margin: 50px 0 0;
    font-size: 3rem;
    text-shadow: 2px 2px 3px rgb(255, 255, 255);
}

p {
    text-align: center;
}

#newColor {
    cursor: pointer;
}

.changeButton {
    border-radius: 10px;
    width: 30%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    height: 510px;
    min-width: 365px;
    max-width: 730px;
    background-color: var(--prim-blue-bg);
    border-radius: 20px;
}

.sketch-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width:100%;
    height: 30%;
    background-color: var(--prim-lightblue);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.sketch-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70%;
    background-color: var(--prim-darkblue-bg);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.sketch {
    /* margin: 18px auto; */
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 300px;
    background-color: white;
}

.square {
    box-sizing: border-box;
    /* border: 1px solid black; */
    background-color: #d87093;
    opacity: 0;
}

/* Animations */

.fade-in {
    opacity: 0;
    animation: 2s forwards fadeIn;
}

.fade-out {
    animation: 2s forwards fadeOut;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@media (min-width: 730px) {
    .container {
        flex-direction: row;
        height: 515px;
    }

    .changeButton {
        width: 100%;
    }

    .sketch-options {
        text-align: center;
        flex-direction: column;
        width:30%;
        height: 100%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 0;
    }
    
    .sketch-area {
        width: 70%;
        height: 100%;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
    }

    .sketch {
        width: 450px;
        height: 450px;
    }
}